name: nuget package
on: workflow_dispatch
jobs:
  build:
    name: MsRdpEx package
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        arch: [ x64, ARM64 ]

    steps:
      - name: Configure runner
        run: |
          Install-Module -Name VsDevShell -Force

      - name: Check out ${{ github.repository }}
        uses: actions/checkout@v2

      - name: Build Detours [${{matrix.arch}}]
        shell: pwsh
        run: |
          Enter-VsDevShell ${{matrix.arch}}
          .\detours.ps1

      - name: Build MsRdpEx.dll [${{matrix.arch}}]
        shell: pwsh
        run: |
          $ArchDir = "${{matrix.arch}}".ToLower()
          mkdir "build-$ArchDir" && cd "build-$ArchDir"
          cmake -G "Visual Studio 17 2022" -A ${{matrix.arch}} -DWITH_DOTNET=OFF ..
          cmake --build . --config Release
          New-Item -ItemType Directory -Path "dependencies/MsRdpEx/$ArchDir" | Out-Null
          Copy-Item "build-$ArchDir/Release/MsRdpEx.dll" "dependencies/MsRdpEx/$ArchDir"
