name: nuget package
on: workflow_dispatch
jobs:
  build-native:
    name: native build
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        arch: [ x64, arm64 ]

    steps:
      - name: Configure runner
        run: |
          Install-Module -Name VsDevShell -Force

      - name: Check out ${{ github.repository }}
        uses: actions/checkout@v2

      - name: Build Detours (${{matrix.arch}})
        shell: pwsh
        run: |
          Enter-VsDevShell ${{matrix.arch}}
          .\detours.ps1

      - name: Build MsRdpEx.dll (${{matrix.arch}})
        shell: pwsh
        run: |
          $ArchDir = "${{matrix.arch}}"
          $BuildDir = "build-$ArchDir"
          cmake -G "Visual Studio 17 2022" -A ${{matrix.arch}} -DWITH_DOTNET=OFF -B $BuildDir
          cmake --build $BuildDir --config Release
          New-Item -ItemType Directory -Path "dependencies/MsRdpEx/$ArchDir" | Out-Null
          Copy-Item "$BuildDir/Release/MsRdpEx.dll" "dependencies/MsRdpEx/$ArchDir"

      - name: Upload native components
        uses: actions/upload-artifact@v2
        with:
          name: MsRdpEx-${{matrix.arch}}
          path: dependencies/MsRdpEx/${{matrix.arch}}

  build-managed:
    name: managed build
    runs-on: windows-2022
    needs: build-native

    steps:
      - name: Check out ${{ github.repository }}
        uses: actions/checkout@v2

      - name: Configure runner
        run: |
          New-Item -ItemType Directory -Path "dependencies/MsRdpEx" | Out-Null

      - name: Download native components
        uses: actions/download-artifact@v2
        with:
          path: dependencies/MsRdpEx

      - name: Build MsRdpEx.dll (managed)
        shell: pwsh
        run: |
          $BuildDir = "build-dotnet"
          cmake -G "Visual Studio 17 2022" -A x64 -DWITH_DOTNET=ON -DWITH_NATIVE=OFF -B $BuildDir
          cmake --build $BuildDir --config Release
          & dotnet pack .\dotnet\Devolutions.MsRdpEx -o package

      - name: Upload managed components
        uses: actions/upload-artifact@v2
        with:
          name: MsRdpEx-${{matrix.arch}}
          path: package