<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?include $(sys.CURRENTDIR)Variables.wxi ?>
	<Package
		Name="$(var.VendorName) $(var.ProductName)" Manufacturer="$(var.VendorFullName)"
		Version="$(var.ProductVersion)" UpgradeCode="$(var.UpgradeCode)"
		Scope="perMachine" Language="1033">
		<MajorUpgrade AllowSameVersionUpgrades="no" DowngradeErrorMessage="!(loc.DowngradeError)" />
		<Icon Id="mstscex.ico" SourceFile="..\exe\mstscex\mstscex.ico" />
		<Icon Id="msrdcex.ico" SourceFile="..\exe\msrdcex\msrdcex.ico" />
		<Icon Id="vmconnectex.ico" SourceFile="..\exe\vmconnectex\vmconnectex.ico" />
		<Property Id="ARPPRODUCTICON" Value="mstscex.ico" />
		<Property Id="ARPHELPLINK" Value="$(var.InfoURL)" />
		<MediaTemplate EmbedCab="yes" CabinetTemplate="MsRdpEx{0}.cab" />
		<Feature Id="Main">
			<ComponentGroupRef Id="MsRdpEx" />
		</Feature>
	</Package>
</Wix>